<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="klb.android.GameEngine"
    android:versionCode="1"
    android:installLocation="auto"
    android:versionName="1.0" >

    <permission android:name="klb.android.GameEngine.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="klb.android.GameEngine.permission.C2D_MESSAGE" />
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:name=".GameEngineApplication"
        android:label="@string/app_name">
        
        <service android:name="klb.android.GameEngine.GCMIntentService" />
        <receiver 
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="klb.android.GameEngine" />
            </intent-filter>
        </receiver>
        <activity
            android:label="@string/app_name"
            android:name="GameEngineActivity"
            android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|orientation|keyboardHidden"
			android:launchMode="singleTop" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data android:value="@string/sender_id" android:name="GCM_SENDER_ID" />
    </application>

</manifest>
