<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KLBToolHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KLBToolHost.Properties.Settings>
            <setting name="lastUsedProjectDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MainAppSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxRecentItemCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="lastWindowState" serializeAs="String">
                <value />
            </setting>
        </KLBToolHost.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>
